.abertura {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    &__trailer {
        
        &__sinopse {
            padding-left: 20px;
        }
    }

    @media only screen and (max-width: 768px) {

        flex-direction: column;
        text-align: center; 
        padding: 10px; 
        margin: 10px; 

        &__trailer {
                iframe {
                    width: 320px;

                }
                &__sinopse {
                    padding-left: 0; 
                }
        }
    }
}

