.elenco {
    padding: 30px;
    text-align: center;

    &__list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 10px;
    }
}