.footer {
        text-align: center;
        padding: 10px;

        
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            
            li {
                margin: 0 5px;
            }
        }
        
        img {
            width: 30px;
        }
}